.section1c .container {
    display: grid;
    grid-template-columns: repeat(4, 282px);
    grid-template-rows: repeat(3, 262px);
    justify-content: center;
    background-color:  #F9F9F9;

}

.section1c .container iframe {

    border-radius: 10px;

    margin: 10px 10px 10px 15px;
    width: 250px;
    height: 140px;

}


.textiframe {

    display: flex;
    flex-direction: column;
    text-align: justify;
}

.textiframe h4 {
    width: 197px;
    color: #000;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;

}

.textiframe p {
    color: #515151;
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.central-texto {
    display: inline-flex;
    gap: 10px;
    flex-wrap: wrap;

}

.central-texto img {

    width: 42px;
    height: 42px;
    border-radius: 30px;
    margin-left: 5px;
}