.section1c .container {
    display: grid;
    grid-template-columns: repeat(4, 282px);
    grid-template-rows: repeat(3, 262px);

    
    justify-content: center;


}

.section1c .container iframe {

    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 250px;
    height: 140px;
}
.central-total:hover {

    transform: scale(1.3);
    transition: 1.3s;
    z-index: -1;
    
}

.textiframe {

    display: flex;
    flex-direction: column;
    text-align: justify;
}

.textiframe h4 {
    width: 197px;
    color: #000;

    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 15px;


}

.central-texto {
    display: inline-flex;
    gap: 10px;
    padding-top: 16px;

}

.central-texto img {

    width: 42px;
    height: 42px;
    border-radius: 30px;

}