.section1c .container {
    display: grid;
    grid-template-columns: repeat(4, auto);

    grid-auto-rows: minmax(100px, auto);
    
    gap: 10px 10px;
    padding: 30px;
    background-color: #F9F9F9;


}

.section1c .container iframe {

    border-radius: 10px;


    width: 300px;
    height: 180px;


}

.central-total {
    padding: 16px;

}



.textiframe h4 {
    width: 197px;
    color: #000;
    font-family: 'Roboto';
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    margin-bottom: 10px;

}

.textiframe p {
    color: #515151;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.central-texto {
    display: inline-flex;
    gap: 10px;
    
    padding-top: 16px;
}

.central-texto img {


    width: 42px;
    height: 42px;
    border-radius: 30px;
    margin-left: 5px;
}